// Colors
$light-to-dark-blue: circle, #59F5FF, #217591;
$dark-to-darker-blue: circle, #217591, #333745;
$dark-pink:#BC428D;
$light-pink:#F76BAA;
$dark-blue:#217591;
$light-blue:#59F5FF;
$even-darker-blue: #333745;

//Spacing
$s-size:1.2rem;
$m-size:1.6rem;
$l-size:3.2rem;
$xl-size:4.8rem;
$t-shadow:.15rem .15rem;
$desktop-breakpoint: 45rem;